@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,300;1,500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Poppins; */
}
*::selection {
  color: #fff;
  background-color: #3452ff;
}

body {
  font-family: 'Poppins', sans-serif;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #000;
}
nav{
  position: fixed;
  z-index: 99;
  background-color: #fff;
  width: 100%;
  padding-left: 20%;
  border-bottom: 1px solid #e5e5e5;
}
/* common (dung chung) */
.col-30 {
  width: 33.3333%;
}

.col-40 {
  width: 25%;
}

.max-width-1160 {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-1000 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.padding-t60 {
  padding-top: 60px;
}

.padding-b60 {
  padding-bottom: 60px;
}

.padding-t40 {
  padding-top: 40px;
}

.padding-b40 {
  padding-bottom: 40px;
}

.padding-r28 {
  padding-right: 28px;
}

.padding-t90-b90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.padding-l14-r14 {
  padding-left: 14px;
  padding-right: 14px;
}

.mr-l14-r14 {
  margin-left: 14px;
  margin-right: 14px;
}

.mr-t60 {
  margin-top: 60px;
}

.one-half {
  width: 47.77%;
}
/* sale btn */
.sale-btn {
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  padding: 6px 20px;
  color: #fff;
  background-color: #3452ff;
  top: 25px;
  left: 25px;
  text-transform: uppercase;
  border-radius: 30px;
}

/* add to card */
.add-to-cart-btn {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 18px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 14px;
  font-weight: 500;
}

.add-to-cart-btn:hover {
  border: none;
  background-color: #2a43d1;
  color: #fff;
}

.star-4 i:not(:last-child) {
  color: #f9db76;
}

.star-4 i:nth-last-child(1) {
  color: #ccc;
}
.temp{
  height:100px;
}
/* nav */
.nav-container {
  z-index: 99;
  position: fixed;
  width: 100%;
  background-color: #fff;

  padding: 20px 0;
}
.nav-header{
  z-index: 100;
  background-color: #fff;
  width: 100%;
}
.nav-header ul{
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
}
.nav-header .input-form{
  width: 50%;
  height: 46px;
  border: 1px solid #2a43d1;
  border-radius: 23px;
  padding: 0 20px;
} 
.nav-header .input-form button{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #fff;
  border: none;
  font-size: 24px;
width: 46px;
}

.nav-header .input-form input{
  width: 90%;
  height: 100%;
  border: none;

}
.nav-header .input-form input:focus{
  outline: none;
}
.nav-header .cart-btn i{
  font-size: 52px;
}
.nav-header .cart-btn{
  display: inline-block;
}
.nav-header .cart-quantity{display:inline-block}
.footer {
  background-color: #212121;
}

.footer-content {
  background: #212121;
  display: flex;
}

.footer-items h3 {
  color: #fff;
  font-weight: 300;
  opacity: 0.8;
  font-size: 16px;
  padding-bottom: 12px;
}

.footer-items p {
  margin-top: 6px;
  margin-bottom: 6px;
}

.footer-items p a {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 200;
}

.footer-items p a:hover {
  opacity: 1;
}
.cart-quantity-value{
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  /* background-color: #2a43d1; */
  color: rgb(255, 0, 0);
  font-size: 12px;
  /* padding: 0 6px; */
  border-radius: 6px;
}